.options .container {
    display: grid;
    grid-template-columns: 100px auto 21px;
}

.options .grid-item {
    margin: 2px 0;
}

.options .grid-item-2 {
    margin: 2px 0;
    grid-column-end: span 2;
}

.options .info-icon {
    margin: auto 0 auto 5px;
}

.options .full-row {
    grid-column-end: span 3;
}

.options .status-text {
    color: green;
    margin: auto;
}

.options .small-text {
    font-size: 9px;
}
.options .hidden {
    display: none;
}

.options .bold {
    font-weight: bold;
}